name: Pytest
on:
  pull_request:
    branches: [main, master]
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3,10]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run pytest and generate coverage report
        run: |
          pytest --cov-report term --cov-report xml --cov=./test
          coverage xml -o coverage.xml
          coverage report --show-missing > coverage.txt

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report-${{ matrix.python-version }}
          path: coverage.xml

      - name: Upload coverage text file
        uses: actions/upload-artifact@v2
        with:
          name: coverage-text-${{ matrix.python-version }}
          path: coverage.txt