name: Pytest
on:
  pull_request:
    branches: [main, master]
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3,10]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
          pip install pylint
      
      - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: pip-${{ matrix.python-version }}
          restore-keys: |
                pip-${{ matrix.python-version }}

      - name: Run pytest and generate coverage report
        run: |
          pytest --cov-report term --cov-report xml --cov= /tests
          coverage xml -o coverage.xml
          coverage report --show-missing > coverage.txt

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report-${{ matrix.python-version }}
          path: coverage.xml

      - name: Upload coverage text file
        uses: actions/upload-artifact@v2
        with:
          name: coverage-text-${{ matrix.python-version }}
          path: coverage.txt